.navBar{
	margin:20px 20px;
	}
		

.navBar ul {
	padding:20px 20px;
	}
			
.navBar ul li {
	float:center; margin:10px 10px; position:relative; background-color:lightblue; list-style-type:none;
	}		

.navBar{
	color:mistyrose;
	font-family: 'Pattaya', sans-serif;
	text-align: center;
	}
	
.fab {
	color: blue;
	font-size: 60px;
	padding: 50px;
	}
	
.h1 {font-size: 50px;
	color:cornflowerblue;
	background-color: lightblue;
	text-align:center;
	font-family:'Pattaya';}
	
.contactform {font-size: 20px;
	color:black;
	background-color: cornflowerblue;
	text-align:center;
	font-family:'timesnewroman';}
	
/*product page*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
  align-items: stretch;

  width: 100%;
  height: 100%;
}

/* Create two equal columns that sits next to each other */
.column {

  flex: 50%;
  padding: 0 4px;
}

.column img {
	object-fit: contain;
  margin-top: 8px;
  vertical-align: middle;
}

h2 {text-align:center;
	color:palevioletred;
	font-family:Georgia, 'Times New Roman', Times, serif;


	  }
	  
/*about page*/
.about {
	text-align: center;
	color:purple;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.info {
	text-align: center;
	color: rebeccapurple;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.info {
		margin:20px 20px;
		}
	
.info {
		color:rgb(67, 152, 233);
		font-family: 'Pattaya', sans-serif;
		text-align: center;
		}

.about {
			margin:20px 20px;
			}
		
.about {
			color:rgb(40, 184, 136);
			font-family: 'Pattaya', sans-serif;
			text-align: center;
			}
	