.navBar{
	margin:20px 20px;
	}
		

.navBar ul {
	padding:20px 20px;
	}
			
.navBar ul li {
	float:center; margin:10px 10px; position:relative; background-color:lightblue; list-style-type:none;
	}		

.navBar{
	color:mistyrose;
	font-family: 'Pattaya', sans-serif;
	text-align: center;
	}
	
.fab {
	color: blue;
	font-size: 60px;
	padding: 50px;
	}
	
.h1 {font-size: 50px;
	color:cornflowerblue;
	background-color: lightblue;
	text-align:center;
	font-family:'Pattaya';}
	
.contactform {font-size: 20px;
	color:black;
	text-align:center;
	font-family:'timesnewroman';
	background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #6fe7bf);
}
	
/*product page*/


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: space-between;
  align-items: stretch;

  width: 100%;
  height: 100%;
}

/* Create two equal columns that sits next to each other */
.column {
align-items:center;
  padding: 4px 4px;
  flex-wrap:wrap;
  justify-content: space-between;
}

.column img {
  margin-top: 2px;
  margin-right: 2px;
  margin-left:8px;
  vertical-align: middle;
  max-height: 100%;
}

h2 {text-align:center;
	color:palevioletred;
	font-family:Georgia, 'Times New Roman', Times, serif;
	  }

.contact {
		  color:whitesmoke;
	  }
/*about page*/
.about {
	text-align: center;
	color:purple;
	font-family: 'Pattaya', sans-serif;
	background: linear-gradient(0.25turn, #67aecc, #ebf8e1, #85d8b1);
	margin:20px 20px;
}

.info {
	text-align: center;
	color: rebeccapurple;
	background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #6fe7bf);
	margin:20px 20px;
	font-family: 'Pattaya', sans-serif;
			}

.regulations {
		text-align: center;
		color: rgb(18, 18, 19);
		font-family: Georgia, 'Times New Roman', Times, serif;
		background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #6fe7bf);
		margin:20px 20px;
			}



